*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}
header{
  height:15vh;
 /* background-color:yellow;*/
}
div.headerdiv{
  margin-left: 40vw;
  background-color: chocolate;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
}
.headerdiv div{
  height: 30%;
  width: 20%;
  margin: 10%;
 
}
.headerdiv a{
  color: aliceblue;
  text-decoration: dashed;
}
div.box1{
  width:100vw;
  height: 60vh;
  display: flex;
  flex-direction:row;
  
}
div.box2{
  width: 75%;
  height: 100%;
 
}
div.box3{
  width: 25%;
  height: 100%;
  background-image: url("My_image_without_background.jpg"),-webkit-radial-gradient(circle, white, black);
}
footer{
  background-color: blue;
  height:25vh ;
  width: 100vw;
}
p{
  color:darkolivegreen; 
  
  font-size: 1.5rem;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 95%;
  animation: type 4s steps(60, end); 
}

p:nth-child(4){
  font-size: 1rem;
  animation: type2 8s steps(60, end);
}

p a{
  color: lime;
  text-decoration: none;
}

span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}
