body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section.one{
    position: sticky;
    top:0px;
}
.headButton{
    text-decoration: none;
    color: white;
}
.headButton2{
    text-decoration: none;
    color: blue;
}

.intro-para{
    font-size: 1.3rem;
    font-family:sans-serif;
}

